@font-face {
  font-family: "iconfont"; /* Project id 3785432 */
  src: url('//at.alicdn.com/t/c/font_3785432_yz064c4rdel.woff2?t=1679117752976') format('woff2'),
       url('//at.alicdn.com/t/c/font_3785432_yz064c4rdel.woff?t=1679117752976') format('woff'),
       url('//at.alicdn.com/t/c/font_3785432_yz064c4rdel.ttf?t=1679117752976') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonggao:before {
  content: "\e614";
}

.icon-huochepiao:before {
  content: "\e89a";
}

.icon-lianjie1:before {
  content: "\e6c8";
}

.icon-shijianzhou:before {
  content: "\e69a";
}

.icon-jishi:before {
  content: "\e738";
}

.icon-guidangrenwu:before {
  content: "\e64c";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-zhexiantu:before {
  content: "\ec66";
}

.icon-wangzhan:before {
  content: "\e63b";
}

.icon-xinhao:before {
  content: "\e600";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-guanyuwomen1:before {
  content: "\e60a";
}

.icon-github:before {
  content: "\e689";
}

.icon-steam:before {
  content: "\ecc3";
}

.icon-qunliaoguanli:before {
  content: "\e640";
}

.icon-juxiezuo:before {
  content: "\e63d";
}

.icon-lang:before {
  content: "\e684";
}

.icon-suiji:before {
  content: "\e7b8";
}

.icon-fanti:before {
  content: "\e6d8";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-fenjifenlei:before {
  content: "\e6e0";
}

.icon-guanyuwomen:before {
  content: "\e613";
}

.icon-zhuye:before {
  content: "\e663";
}

.icon-wenjianjia1:before {
  content: "\ec17";
}

.icon-hudongguanli:before {
  content: "\e62b";
}

.icon-pinglun:before {
  content: "\e645";
}

.icon-fadianchang:before {
  content: "\e606";
}

.icon-xiazai-wenjianxiazai-22:before {
  content: "\e857";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-fabulig:before {
  content: "\e601";
}

.icon-liulanjilulig:before {
  content: "\e602";
}

.icon-wode1:before {
  content: "\e603";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-bilibili:before {
  content: "\e609";
}

